.section-contacto-hero{
    background-image: url('https://dummyimage.com/1180x300/b7b7b7/fff.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    hr{
        width: 60%;
    }
}

.section-contacto{
    display: flex;
    justify-content: center;
    padding: 20px;

    &-info{
        width: 40%;
        text-align: center;
    }
}

.cognito{
    width: 40%;
}