.section-gracias{
  padding-top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-info{
    width: 40%;

    h1{
      margin: 0;
    }
    p{
      margin: 0;
    }
  }
}


@media all and (max-width: 992px) {
    .section-gracias-info{
      width: 80%;
    }
}
