.ccnav {

    margin: 0;
    padding: 0;
    background-color: $brand-primary;

    [id^=drop],
    &__toggle {
        display: none;
    }

    &__social {
    	text-align: right;
        color: $black;
        padding: 7px;
        margin: 0;
        display: flex;
        justify-content: flex-end;

        .facebook-logo{
            width: 14px;
            height: 14px;
        }

    }

    &__logo {
        width: 290px;
        height: 106px;
        background: transparent url('../img/fst-logo-bkg.png') no-repeat;
        position: absolute;
        background-size: contain;
        top: 0;
        left: 0;
        z-index: 2;

        img {
            width: 160px;
            margin: 20px 46px;
        }
    }

    &__header {

        .ccnav__icon-toggle {
            background-color: $brand-primary;
            cursor: pointer;
            float: right;
            padding: 28px 20px;
            position: relative;
            user-select: none;

            .ccnav__icon {
                background: $white;
                display: block;
                height: 2px;
                width: 20px;
                position: relative;

                &:before,
                &:after {
                    background: white;
                    content: " ";
                    display: block;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }

                &::before {
                    top: 5px;
                }

                &::after {
                    top: -5px;
                }
            }

        }

    }

    a {
        display: block;
        color: $white;

        &:hover {
        	text-decoration:none;
        }
    }

    ul {
        float: right;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;

        li {
            margin: 0px;
            display: inline-block;
            float: left;

            /* Display Dropdowns on Hover */
            &:hover > ul {
                display: block;
            }

        }

        ul {
            display: none;
            position: absolute;
            z-index: 999;
            box-shadow: 0 0 20px 6px transparentize($grey-2, .5);
            top: 67px;

            /* Subnav Dropdown */
            li {
                width: 200px;
                float: none;
                display: list-item;
                position: relative;
                background-color: $white;
            }

            a {
                color: $black;
                padding: 15px 20px;

                &:hover {
                    background-color: $grey-1;
                }
            }

        }

    }

    /* Since we'll have the "ul li" "float:left"
     * we need to add a clear after the container. */
    &::after {
        content: "";
        display: table;
        clear: both;
    }

}


.ccnav .menu > li > a {
    text-transform: uppercase;
    font-weight: bolder;
    padding: 24px 25px;
}

.ccnav .menu > li > a:hover {
    background-color: $white;
    color: $black;
}

.ccnav__menu-subnav:hover + a {
    background-color: $white;
    color: $black
}



/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

    .ccnav {
        margin: 0;
        background-color: $grey-1;


        /* Hide the navigation menu by default */
        .ccnav__menu-subnav + a,
        .menu {
            display: none;
        }

        /* Display Dropdown when clicked on Parent Lable */
        [id^=drop]:checked + ul {
            display: block;
        }

        &__toggle, .menu > li > a > span {
            display: block;
            background-color: $grey-1;
            padding: 14px 20px;
            color: $black;
            font-weight: 900;
            text-transform: uppercase;
            border: none;
            font-size: 1.2rem;

            &:hover {
                background-color: $grey-1;
            }

        }

        .menu > li {

            border-top: 2px solid white;

            > a {
                padding: 0;
            }

        }

        /* Change menu item's width to 100% */
        ul {

            ul {
                /* Hide Dropdowns by Default */
                float: none;
                position: static;
                color: $white;

                /* Subnav Dropdown */
                li {
                    display: block;
                    width: 100%;
                    border-bottom: 2px solid #ffffff;
                    background-color: $brand-primary;
                }

                a {
                    padding: 5px 40px;
                    color: $white;

                    &:hover {
                        color: $black;
                    }
                }

            }

            li {
                display: block;
                width: 100%;
            }

            /* Hide menus on hover */
            ul li:hover > ul,
            li:hover > ul {
                display: none;
            }

        }

        &__logo {
            width: auto;
            height: auto;
            background: none;
            position: relative;
            display: inline-block;

            img {
                width: 130px;
                margin: 11px 0 0 14px;
            }
        }

    }

}
