.main {

    //sticky footer
    flex: 1 0 auto;
    margin-top: 91px;

    @media all and (min-width: 769px) {
        margin-top: 100px;
    }

}

.section {

    padding: 6rem 0;


    .box {
        padding: 2rem;

        &-number {
            font-size: 8rem;
            font-weight: 900;
        }

        &-signo {
            font-size: 2rem;
        }
    }

    &-aboutus h3 {
        margin-top: 0;
    }

    &-hero {

        padding: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 450px;
        background-color: $grey-1;


        &__title {

            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;

            .section-hero__info {

                text-align: center;

            }

            h1 {
                margin: 0 !important;
            }

        }

        &__full {
            display: flex;
            min-height: 100%;
            align-items: center;

            h1 {
                margin-top: 0;
            }


        }

        &__home {
            background-color: $brand-primary;
        }

        &__gracias {
            background-color: $white;
        }


        &.color-black {
            h1, h2, h3, h4, h5, h6, p {
                color: $black;
            }
        }

        &__info {
            color: $white;
            max-width: 800px;

            @media all and (min-width: 769px){
                padding: 0 5%;

            }


            h1 {
                margin-top: 0;
                text-transform: uppercase;
                position: relative;
                margin-bottom: 4rem;

                @media all and (min-width: 769px){

                    margin-bottom: 0;

                }

                small {
                    display: block;
                }

                &.h1-line {

                    padding-bottom: 2rem;

                    &::after {
                        position: absolute;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 6px;
                        background: rgb(251,206,71);
                        background: linear-gradient(90deg, rgba(251,206,71,0) 0%, rgba(251,206,71,1) 41%);
                        margin-top: 1rem;

                    }
                }


            }

            .btn {

                font-size: 1.4rem;
                margin-top: 2rem;

                &.btn-center {
                    display: table;
                    margin: 0 auto;
                }

            }


        }

    }

    &-services {

        background-color: $grey-1;

        p {

            @media all and (min-width: 769px) {
                text-align: left;
            }

        }

    }

    @media all and (min-width: 769px){
        .grid-with-border {
            [class*=col-], [class*=col_], [class~=col] {

                &:nth-child(3n + 2) .box {
                    border-left: 1px solid $grey-3;
                    border-right: 1px solid $grey-3;
                }

            }
        }
    }

}
