.main {

    //sticky footer
    flex: 1 0 auto;
    margin-top: 91px;

    @media all and (min-width: 769px) {
        margin-top: 100px;
    }

}

.section {

    padding: 6rem 0;


    .box {
        padding: 2rem;

        &-number {
            font-size: 8rem;
            font-weight: 900;
        }

        &-signo {
            font-size: 2rem;
        }
    }

    &-aboutus h3 {
        margin-top: 0;
    }

    &-hero {

        padding: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 450px;
        background-color: $grey-1;
        background-position: right center;

        @media all and (max-width : 1024px) {
            background-image: none !important;
        }


        &__title {

            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;

            .section-hero__info {

                text-align: center;

            }

            h1 {
                margin: 0 !important;
            }

        }

        &__full {
            display: flex;
            min-height: 100%;
            align-items: center;

            h1 {
                margin-top: 0;
            }


        }

        &__img--wrapper {
            height:100%;
            padding:0;
            display: none;

            @media all and (min-width: 769px) {
                display: block;
            }

            img {
                object-fit: cover;
                height: 100%;
            }

        }

        // &__home {
        //     background-color: $brand-primary;
        // }

        &__gracias {
            background-color: $white;
        }


        &.color-black {
            h1, h2, h3, h4, h5, h6, p {
                color: $black;
            }
        }

        &__info {
            color: $white;
            max-width: 800px;

            @media all and (min-width: 769px){
                padding: 0 5%;

            }


            h1 {
                margin-top: 0;
                text-transform: uppercase;
                position: relative;
                margin-bottom: 4rem;

                @media all and (min-width: 769px){

                    margin-bottom: 0;

                }

                small {
                    display: block;
                }

                &.h1-line {

                    padding-bottom: 2rem;

                    &::after {
                        position: absolute;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 6px;
                        background: rgb(251,206,71);
                        background: linear-gradient(90deg, rgba(251,206,71,0) 0%, rgba(251,206,71,1) 41%);
                        bottom: 0;

                    }
                }


            }

            .btn {

                font-size: 1.4rem;
                display: table;
                margin: 4rem auto 0;

                @media all and (min-width: 769px){

                    margin: 2rem 0 0 0;
                    display: inline-block;

                }

                &.btn-center {
                    display: table;
                    margin: 0 auto;
                }

            }


        }

        .rowReverse {
            @media all and (min-width: 769px) {
                flex-direction: row-reverse;
            }
        }
    }

    &-services {

        background-color: $grey-1;

        p {

            @media all and (min-width: 769px) {
                text-align: left;
            }

        }

    }

    @media all and (min-width: 769px){
        .grid-with-border {
            [class*=col-], [class*=col_], [class~=col] {

                &:nth-child(3n + 2) .box {
                    border-left: 1px solid $grey-3;
                    border-right: 1px solid $grey-3;
                }

            }
        }
    }

}

.card-grid {

    position: relative;
    list-style: none;
    text-align: center;

    figure {

        position: relative;
        overflow: hidden;
        margin: 0;
        text-align: center;
        cursor: pointer;

        svg {
            position: relative;
            display: block;
            opacity: 0.8;
            height: 60px;
        }

        h3, p {
            margin: 0;
            text-align: center;
        }

        &:hover {
            background-color: $grey-1;
        }

        figcaption {
            color: $black;
            backface-visibility: hidden;
            text-align: center;
            padding: 0 2em;

            &::before, &::after {
                pointer-events: none;
            }

        }

    }
}
