ol, ul {
	list-style: none;
}


//
.section-info{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;

    &-content{
        width: 50%;
    }
}


.section-ourservices-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card{
    position: relative;
    width: 25%;
    height: 300px;
    transform-style: preserve-3d;
}

@media all and (max-width : 768px){
    .card{
        width: 50%;
    }
}

@media all and (max-width : 568px){
    .card{
        width: 100%;
    }
}

.face{
    border: 1px solid $white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    cursor: pointer;
    background-image: url('https://dummyimage.com/480x300/000/ffffff');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.back p{
    width: 80%;
    margin: 0 auto;
}

.back h3{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

// kdwjkbdjkdjkd
.card:hover .face.front{
    transform: perspective(500px) rotateY(180deg);
}

.card .face.back{
    background: $grey-2;
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .face.back{
    transform: perspective(500px) rotateY(0deg);
}
// kdkldkdklsdlklkds

//
.section-cita{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    &-content{
        width: 50%;
        margin-bottom: 20px;
    }
}
