.btn {

    font-size: 1.2rem;
    color: $white;
    cursor: pointer;
    border: none;
    background-color: $grey-3;
    padding: 8px 40px;
    display: inline-block;

    &:hover {

        color: $white;
        background-color: lighten($grey-3, 10%);
        text-decoration: none;

    }

    &-red{

        background-color: $brand-primary;

        &:hover{
            background-color: lighten($brand-primary, 10%)
        }

    }

    &-black{

        background-color: $black;

        &:hover{
            background-color: lighten($black, 10%)
        }

    }

    &-white {
        background-color: white;
    }

    &-border {

        background-color: transparent;
        border: 2px solid $white;

        &:hover {
            background-color: transparentize($white, 0.7);
        }

        &.btn-black {
            border-color: $black;
            color: $black
        }

    }

}
