.btn{
    font-size: 1.2rem;
    color: $white;
    cursor: pointer;
    border: none;
    background-color: $grey-3;
    padding: 8px 40px;
    display: inline-block;

    &:hover{
        color: $white;
        background-color: lighten($grey-3, 10%);
        text-decoration: none;
    }
    &-red{
        background-color: $brand-primary;
        &:hover{
            background-color: lighten($brand-primary, 10%)
        }
    }
    &-black{
        background-color: $black;
        &:hover{
            background-color: lighten($black, 10%)
        }
    }

    &-border {
        background-color: transparent;
        border: 2px solid $white;

        &:hover {
            background-color: transparentize($white, 0.7);
        }
    }
}

#c-submit-button {
    font-size: 1.2rem;
    color: $white;
    cursor: pointer;
    border: none;
    background-color: $grey-3;
    padding: 12px 52px;
    display: inline-block;
    border-radius: 0;
    box-shadow: none;
    text-transform: uppercase;
    background-color: $brand-primary;
    &:hover{
        background-color: lighten($brand-primary, 10%)
    }

}

.cognito {

    .c-forms-form label,
    .c-forms-form .c-forms-form-title h2,
     #c-submit-button {
         font-family: 'Avenir' !important;
     }

    .c-button-section {
        text-align: center;

        .c-action {
            float: none;
            display: inline-block;
        }

    }
}
