*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: $black;
}

a {
	text-decoration: none;
	outline: none;
}
