*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font: 1.4rem 'Avenir', Helvetica, Arial; //14px
	color: $black;
	height: 100%;
	display: flex;
    flex-direction: column;
}

a {
	text-decoration: none;
	outline: none;
	color: $black;

	&.blue {
		color: $blue;
	}

	&:hover {
		color: $blue;
		text-decoration: underline;
	}
}

img {
	width: 100%;
	max-width: 100%;
}

// HEADINGS
h1, h2, h3 {
	text-transform: uppercase;
}

h1 {

	font-size: 2.7rem;
	text-align: center;

	small {
		display: block;
	}

	@media all and (min-width: 570px){
		font-size: 4rem;
	}

	@media all and (min-width: 769px){
		font-size: 5rem;
		text-align: left;
	}
}

h2 {

	text-align: center;
	font-size: 2rem;


	@media all and (min-width: 571px){
		text-align: left;
		font-size: 2.4rem;
	}

}

h3 {
	font-size: 1.6rem;

}

h6 {
	font-size: 1.4rem;
	margin: 1rem;
}

.container {
	width: 80%;
	margin: 0 auto;
	max-width: 1248px;
}

.section {

	h2 {
		text-align: center;
		margin-top: 0;
	}

	p, ul, ol {

		font-size: 1.4rem;

		@media all and (min-width: 571px){
			font-size: 1.6rem;
		}

	}

}

.icon {
	display: inline-block;
}

.services-icon {
	max-width: 80px;
	fill: $brand-primary;
	width: 60px;

	&__container {
		display: flex;
		align-items: center;
		height: 60px;
		justify-content: center;
	}

	&.oil-icon {
		width: 80px;
	}

	&.brakes-icon {
		width: 80px
	}

	&.align-icon {
		width: 48px;
	}

}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.text-center {
	text-align: center;
}

.grid-middle {
	height: 100%;
	margin: 0 !important;
}

.square {
  position: relative;
  width: 50%;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .content {
    position: absolute;
    width: 100%;

  }

}

.mt0 {
	margin-top: 0;
}

.mb0 {
	margin-bottom: 0;
}
