*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font: 1.4rem 'Avenir', Helvetica, Arial; //14px
	color: $black;
	height: 100%;
	display: flex;
    flex-direction: column;
}

a {
	text-decoration: none;
	outline: none;
	color: $black;

	&.blue {
		color: $blue;
	}

	&:hover {
		color: $blue;
		text-decoration: underline;
	}
}

img {
	width: 100%;
	max-width: 100%;
}

// HEADINGS
h1, h2, h3 {
	text-transform: uppercase;
}

h1 {
	font-size: 5rem;


	@media all and (max-width: 768px){
		font-size: 4rem;
	}

	@media all and (max-width: 414px){
		text-align: center;
		font-size: 3rem;
	}
}

h2 {
	font-size: 2.4rem;
}

h6 {
	font-size: 1.4rem;
	margin: 1rem;
}

.section p {
	font-size: 1.6rem;
}

.icon {
	display: inline-block;
}

.services-icon {
	max-width: 80px;
	fill: $brand-primary;
	width: 60px;

	&__container {
		display: flex;
		align-items: center;
		height: 60px;
		justify-content: center;
	}

	&.oil-icon {
		width: 80px;
	}

	&.brakes-icon {
		width: 80px
	}

	&.align-icon {
		width: 48px;
	}

}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.text-center {
	text-align: center;
}
