.section-forms {

    &__info {
        margin-bottom: 4rem;
    }

    .btn {
        display: block;
        width: 100%;
        text-transform: uppercase;
        margin-top: 3rem;
        font-weight: bolder;
    }

    .form-group {

        margin: 1.6rem 0;

        label {
            display: block;
            // margin-bottom: 1rem;
            font-weight: bolder;
        }

        select, input, textarea {

            display: block;
            width: 100%;
            padding: 1rem;
            max-width: 100%;
            border: 1px solid $grey-2;
            border-radius: 4px;

        }

        .inline-label {

            display: flex;
            margin: 1rem 0 0;

            label {
                margin: -.2rem 0 0 1rem;
            }

            label, select, input, textarea {
                width: auto;
            }

            label { font-weight: normal;}

        }

        .text-error {
            color: $brand-primary
        }

        &.has-danger {

            select {
                color: $brand-primary;
            }

            select, input, textarea {
                border-color: $brand-primary;
            }

            input[type="checkbox"] {
                outline-color: $brand-primary;
            }

            .pristine-error {
                color: $brand-primary;
            }

            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $brand-primary;
                opacity: 1; /* Firefox */
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $brand-primary;
            }

            ::-ms-input-placeholder { /* Microsoft Edge */
                color: $brand-primary;
            }

        }

    }

}

// Datepicker

.flatpickr-calendar {

    .numInputWrapper span.arrowUp,
    .numInputWrapper span.arrowDown {
        display: none;
    }

    // .flatpickr-day.nextMonthDay[tabindex="-1"] {
    //     color: $black;
    // }
}
