// HEADINGS
h1, h2, h3 {
	text-transform: uppercase;
}

h1, .h1 {

	font-size: 2.7rem;
	text-align: center;

	small {
		display: block;
	}

	@include screen('xs', 'min') {
		font-size: 4rem;
	}

	@include screen('sm', 'min') {
		font-size: 4rem;
		text-align: left;
	}

	@include screen('md', 'min') {
		font-size: 5rem;
	}

}

h2 {

	text-align: center;
	font-size: 2rem;


	@include screen('xs', 'min') {
		text-align: left;
		font-size: 2.4rem;
	}

}

h3 {
	font-size: 1.6rem;

}

h6 {
	font-size: 1.4rem;
	margin: 1rem;
}
