.section-hero {

    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    background-color: $grey-1;
    background-position: right center;

    @media all and (max-width : 1024px) {
        background-image: none !important;
    }

    &__title {

        height: 300px;

        &--centered {
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                margin: 0 !important;
                border-top: 2px solid $white;
                border-bottom: 2px solid $white;
                padding: 2rem 0;
            }

            &.color-black {

                h1 { border-color: $black}

            }

        }

        .section-hero__info {

            text-align: center;

        }


    }

    &__full {
        display: flex;
        min-height: 100%;
        align-items: center;

        h1 {
            margin-top: 0;
        }


    }

    &__img--wrapper {
        height:100%;
        padding:0;

        img {
            object-fit: cover;
            height: 100%;
        }

    }

    &__gracias {
        background-color: $white;
    }

    &__info {
        color: $white;
        max-width: 800px;

        @media all and (min-width: 769px){
            padding: 0 5%;

        }


        h1 {
            margin-top: 0;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 4rem;

            @media all and (min-width: 769px){

                margin-bottom: 0;

            }

            small {
                display: block;
            }

            &.h1-line {

                padding-bottom: 2rem;

                &::after {
                    position: absolute;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 6px;
                    background: rgb(251,206,71);
                    background: linear-gradient(90deg, rgba(251,206,71,0) 0%, rgba(251,206,71,1) 41%);
                    bottom: 0;

                }
            }


        }

        .btn {

            font-size: 1.4rem;
            display: table;
            margin: 4rem auto 0;
            text-transform: uppercase;

            @media all and (min-width: 769px){

                margin: 2rem 0 0 0;
                display: inline-block;

            }

            &.btn-center {
                display: table;
                margin: 0 auto;
            }

        }


    }

}
