.container {
	width: 80%;
	margin: 0 auto;
	max-width: 1248px;
}


.square-wrapper {
    position: relative;
    width: 50%;

    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .content {
        position: absolute;
        width: 100%;
    }

}

.box {
	padding: 2rem;

	&-number {
		font-size: 8rem;
		font-weight: 900;
	}

	&-signo {
		font-size: 2rem;
	}
}
