<div class="col-3_md-6_xs-12 animated animated__backInUp">
    <div class="box">
        @@if ( context.iconID ) {
            <div class="services-icon__container">
                <svg class="icon services-icon @@iconID"><use xlink:href="#@@iconID"></use></svg>
            </div>
        }
        @@if ( context.serviceHeading ) {<h3>@@serviceHeading</h3>}
        @@if ( context.serviceBody ) {<p>@@serviceBody</p>}
        @@if ( context.serviceUrl ) {<a href="@@serviceUrl" class="btn">VER SERVICIO</a>}
    </div>
</div>
