<div class="swiper-slide">

    <section class="section section-hero section-hero__home @@if ( color === 'black' ) { color-black }" style="background-image: url('@@bkg-image');background-color: @@bkg-color ">

            <div class="grid grid-middle">

                <div  class="col-6_lg-7_md-10_sm-10" data-push-left="off-6_lg-5_md-2_sm-1" >

                    <div class="section-hero__info">

                        <h1>@@title</h1>
                        @@text

                        @@if ( cta ) {
                            <a href="@@ctaLink" class="btn @@if ( btnStyle === 'border' ) { btn-border } @@if ( color === 'black' ) { btn-black }">@@ctaText</a>
                        }

                    </div>

                </div>

            </div>

    </section>

</div>
