    </main>

    <footer class="footer">
        <div class="first-section">
            <div class="first-section_logo">
                <img src="./assets/img/Logo-CarCLub.svg" alt="CarCLub Firestone Cuernavaca" />
            </div>
            <div class="first-section_datos">
                <p>
                    <strong>CONTACTO</strong><br>lorem ipsum lorem <br>ipsumipsum
                </p>
                <p>
                    <strong>DIRECCI&Oacute;N</strong><br>lorem ipsum lorem<br>ipsumipsum
                </p>
                <p>
                    <strong>HORARIO DE SERVICIO</strong><br>lorem ipsum lorem<br>ipsumipsum
                </p>
            </div>
        </div>
        <div class="second-section">
            <div class="second-section_datos">
                <p><a href="#"><strong>Mapa del Sitio</strong></a></p>
                <p><a href="#"><strong>Pol&iacute;tica de privacidad</strong></a></p>
                <p><a href="#"><strong>T&eacute;rminos y Condiciones</strong></a></p>
            </div>
            <div class="second-section_logo">
                <p>&copy; 2021 CarClub Firestone Costa Rica</p>
            </div>
        </div>
    </footer>

    <script src="assets/js/scripts.min.js"></script>

</body>
</html>
