    </main>

    <footer class="footer">
        <div class="first-section">
            <div class="first-section_logo">
                <img src="/assets/img/Logo-CarCLub.svg" alt="CarCLub Firestone Cuernavaca" />
            </div>
            <div class="first-section_datos">
                <div>
                    <h6>CONTACTO</h6>
                    <p>Telefóno: <strong>(+506) 4100-4400</strong> <br>Whatsapp: <strong>(+506)7239-7278 </strong></p>
                </div>
                <div>
                    <h6>DIRECCI&Oacute;N</h6>
                    <p>300 metros oeste del puente <br /> de la Firestone, La Ribera de Belén.<p>
                </div>
                <div>
                    <h6>HORARIO DE SERVICIO</h6>
                    <p>Lunes a Viernes de 7:00am a 5:00pm <br />
                    Sábados de 7:00am a 1:00pm</p>
                </div>
            </div>
        </div>
        <div class="second-section">
            <div class="second-section_datos">
                <!-- <p><a href="#"><strong>Mapa del Sitio</strong></a></p> -->
                <p><a href="/legal/aviso-de-privacidad.html"><strong>Aviso de privacidad</strong></a></p>
                <p><a href="/legal/consentimiento-informado.html"><strong>Consentimiento Informado</strong></a></p>
            </div>
            <div class="second-section_logo">
                <p>&copy; 2021 CarClub Firestone Costa Rica</p>
            </div>
        </div>
    </footer>

    <script src="/assets/js/scripts.min.js"></script>

</body>
</html>
