<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>CarClub Firestone Costa Rica | @@meta-title</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="@@meta-description">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link href="/assets/css/style.min.css" rel="stylesheet">

        <script src="/assets/components/modernizr/modernizr.js"></script>
    </head>
    <body>

    @@include('./svg.html')

    <header class="ccnav__header">

        <div class="ccnav__social">
            <div class="ccnav__social-item"><strong class="number">(+506) 4100-4400</strong></div>

              <div class="ccnav__social-item">
                  <a href="https://www.facebook.com/CarClubFirestoneCR" target="_blank">
                      <svg class="icon facebook-logo"><use xlink:href="#fb-icon"></use></svg>
                  </a>
              </div>

        </div>

        <nav class="ccnav" id="ccnav">

            <div class="ccnav__logo">
              <a href="/">
                <img src="/assets/img/Logo-CarCLub.svg" alt="CarClub Logo" />
              </a>
            </div>


            <label for="drop" class="ccnav__toggle ccnav__icon-toggle">
                <span class="ccnav__icon"></span>
            </label>
            <input type="checkbox" id="drop" />

            <ul class="menu" >

                <li>

                    <label for="drop-1" class="ccnav__toggle">SERVICIOS</label>

                    <input type="checkbox" id="drop-1" />

                    <ul class="ccnav__menu-subnav">
                        <li><a href="#">Llantas</a></li>
                        <li><a href="#">Cambio de Aceite</a></li>
                        <li><a href="#">Frenos</a></li>
                        <li><a href="#">Alineamientos</a></li>
                        <li><a href="#">Amortiguadores</a></li>
                        <li><a href="#">Baterias</a></li>
                        <li><a href="#">Balanceo</a></li>
                        <li><a href="#">Otros</a></li>
                    </ul>

                    <a href="#">
                        SERVICIOS
                        <svg class="icon caret-down"><use xlink:href="#caret-down"></use></svg>
                    </a>
                </li>

                <li>
                    <a href="/carclub-movil.html"><span>CARCLUB M&Oacute;VIL</span></a>
                </li>

                <li>
                    <a href="/agendar-cita-car-club-firestone.html"><span>AGENDE SU CITA</span></a>
                </li>

                <li>
                    <a href="#"><span>SOBRE NOSOTROS</span></a>
                </li>

                <li>
                    <a href="/contacto-car-club-firestone.html"><span>CONT&Aacute;CTENOS</span></a>
                </li>


            </ul>
        </nav>

    </header>

    <main class="main">
