<div class="swiper-slide">

    <section class="section section-hero section-hero__home @@if ( color === 'black' ) { color-black }" style="background-image: url('@@bkg-image');background-color: @@bkg-color ">

            <div class="grid grid-middle">

                <div @@if (dataPosition === "right") { class="col-6_lg-8_md-10_sm-12" data-push-left="off-6_lg-4_md-2_sm-0" } @@if (dataPosition === "center") { class="col-6_lg-8_md-10_sm-12" data-push-left="off-3_lg-2_md-1_sm-0" } @@else {  class="col-6_lg-8_md-10_sm-12" }>

                    <div class="section-hero__info">

                        <h1>@@title</h1>
                        @@text

                        @@if ( cta ) {
                            <a href="@@ctaLink" class="btn @@if ( btnStyle === 'border' ) { btn-border } @@if ( color === 'black' ) { btn-black }">@@ctaText</a>
                        }

                    </div>

                </div>

            </div>

    </section>

</div>
