//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

@import 'modules/normalize';
@import 'modules/vars';
@import 'modules/grid/gridlex';
@import 'modules/default';
@import 'modules/wrappers';
@import 'modules/headings';
@import 'modules/btn';
@import 'modules/color';
@import 'modules/icons';
@import 'modules/hero';
@import 'modules/slider';
@import 'modules/flipcards';
@import 'modules/animations';
@import 'modules/forms';

// Carousel
@import 'node_modules/swiper/swiper-bundle';
@import 'node_modules/flatpickr/dist/flatpickr';


//----------------------------------*\
// PARTIALS
//----------------------------------*/

@import 'partials/header';
@import 'partials/main';
@import 'partials/footer';
@import 'partials/services';
